body {
  font-family: Arial, sans-serif;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

.logo {
  max-width: 100px;
  display: block;
  margin: 0 auto 20px;
}

input[type="text"],
input[type="password"],
.btn { /* Ajout de la classe .btn */
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.btn { /* Style commun pour les boutons */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn:hover { /* Style commun pour le survol des boutons */
  background-color: #0056b3;
}
